.pos{
    margin:auto;
}
body1{
    margin: 0px;
}

.bg{
    align:center;
    background-color: gray;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto

}
.li1{
    display: inline-block;
    padding: 10px;
    color: gold;
    font-size: 50px;
    position: relative;
    float: left;
    top: -4px;
    margin-top: 20px;

}
body2{
    width: 100%;
    min-width: 700px;
    max-width: 1920px;
}
body3 {
    width: 100%;
    min-width: 1400px;
    max-width: 1920px;
}
.black-bg-chess-piece{
    background: lightslategray;
    height: 100px;
    weight: 100px;
}
.white-bg-chess-piece{
    background: cornsilk;
    height: 100px;
    weight: 100px;

}
.block {
    display: flex;
}

.board {
    padding: 0 40px;
}

span.hidden {
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
}

ul.menu {
    list-style-type: none;
}

.menu li {
    padding: 0 50px;
    font-size: 30px;
}
.menu a {
    text-decoration: none;
}

.player-list {
    align-self: flex-start;
    background-color: aliceblue;
    border: 1px solid black;
    width: 20%;
}

td {
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
    text-align: center;
    box-sizing: border-box;
}

li:hover span.hidden {
    display: inline;
    color: #B00100;
}

td:hover {
    border: 3px dotted red;
}

tr:nth-child(odd) td:nth-child(even)  {
    background-color: #fffcc8;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: #4b7787;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: #4b7787;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: #fffcc8;
}
.info {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
}
.info:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; bottom: 5px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(0,42,167,0.6); /* Полупрозрачный цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}